In [94]:
# Import dependencies
import pandas as pd
import numpy as np
import os
from os.path import dirname

In [99]:
# Read into file
cwd = os.getcwd()
d = dirname(cwd)
f = "Data_files"
file = "Game_Logs_Quarterback.csv"
path = os.path.join(d, f, file)
path
df = pd.read_csv(path)
# View all columns
df.columns.tolist()

['Player Id',
 'Name',
 'Position',
 'Year',
 'Season',
 'Week',
 'Game Date',
 'Home or Away',
 'Opponent',
 'Outcome',
 'Score',
 'Games Played',
 'Games Started',
 'Passes Completed',
 'Passes Attempted',
 'Completion Percentage',
 'Passing Yards',
 'Passing Yards Per Attempt',
 'TD Passes',
 'Ints',
 'Sacks',
 'Sacked Yards Lost',
 'Passer Rating',
 'Rushing Attempts',
 'Rushing Yards',
 'Yards Per Carry',
 'Rushing TDs',
 'Fumbles',
 'Fumbles Lost']

In [100]:
# Put relevant data into a dataframe
QB_data = pd.DataFrame(df[['Name','Year','Season','Week','Outcome','Completion Percentage','Passing Yards','TD Passes']])
# Print to check types
QB_data.dtypes

Name                     object
Year                      int64
Season                   object
Week                      int64
Outcome                  object
Completion Percentage    object
Passing Yards            object
TD Passes                object
dtype: object

In [101]:
# Replace "--" strings to 0 
QB_data.replace("--",0, inplace=True)
# Convert 'Passing Yards','TD Passes' to interger
QB_data['Passing Yards']= QB_data['Passing Yards'].astype('int')
QB_data['TD Passes']= QB_data['TD Passes'].astype('int')
QB_data['Completion Percentage']= QB_data['Completion Percentage'].astype('float')
# Print to check types
QB_data.dtypes

Name                      object
Year                       int64
Season                    object
Week                       int64
Outcome                   object
Completion Percentage    float64
Passing Yards              int32
TD Passes                  int32
dtype: object

In [102]:
# Set index to name column
#QB_data.set_index('Name',inplace=True, drop=True)
# View new dataframe
QB_data.head()

,Name,Year,Season,Week,Outcome,Completion Percentage,Passing Yards,TD Passes
0,"Zabransky, Jared",2007,Preseason,1,L,0.0,0,0
1,"Zabransky, Jared",2007,Preseason,2,W,25.0,19,0
2,"Zabransky, Jared",2007,Preseason,3,W,0.0,0,0
3,"Zabransky, Jared",2007,Preseason,4,L,54.5,117,0
4,"Demory, Bill",1974,Regular Season,1,L,0.0,0,0

In [103]:
def wins(row):
    if row['Outcome'] == 'W':
        val = 1
    else:
        val = 0
    return val

In [104]:
QB_data['Wins'] = QB_data.apply(wins, axis=1)
QB_data.dtypes

Name                      object
Year                       int64
Season                    object
Week                       int64
Outcome                   object
Completion Percentage    float64
Passing Yards              int32
TD Passes                  int32
Wins                       int64
dtype: object

In [123]:
QB_data_groups = QB_data.groupby(['Year','Name','Season'])['TD Passes','Passing Yards','Wins'].sum()
QB_data_groups = QB_data_groups.reset_index()
#QB_data_groups = QB_data_groups.set_index('Year')
QB_data_groups.head()

   Year             Name          Season  TD Passes  Passing Yards  Wins
0  1970  Arrington, Rick  Regular Season          1            328     3
1  1970   Beathard, Pete  Regular Season          2            114     8
2  1970      Belden, Bob  Regular Season          0              0     2
3  1970  Cappleman, Bill  Regular Season          0             49     2
4  1970   Carter, Virgil      Postseason          0             64     0

In [72]:
# Save cleaned data to csv new file
QB_data_groups.to_csv("C:/Users/May 2018/Desktop/SMU Bootcamp Doc/01-Homework_Files/NFL-QB-Analytics/Assets/Data_Files/Cleaned_QB_data_groups.csv")

In [73]:
# Save cleaned data to csv new file
QB_data.to_csv("C:/Users/May 2018/Desktop/SMU Bootcamp Doc/01-Homework_Files/NFL-QB-Analytics/Assets/Data_Files/Cleaned_QB_data.csv")

In [74]:
QB_data_groups_T = QB_data_groups.transpose()
QB_data_groups_T
QB_data_groups_T.to_csv("C:/Users/May 2018/Desktop/SMU Bootcamp Doc/01-Homework_Files/NFL-QB-Analytics/Assets/Data_Files/Cleaned_QB_data_group_transposed.csv")

In [75]:
#Dependencies
import sqlalchemy
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

# PyMySQL
import pymysql
import pymysql.cursors
pymysql.install_as_MySQLdb()

In [76]:
start = "mysql://root:"
end = "@localhost:3306/qb_data"
password ="lsu671234"
path = start + password + end
engine = create_engine(path)
#"mysql://root: @localhost:3306/etl_project_db"

In [124]:
QB_data_groups.head()

   Year             Name          Season  TD Passes  Passing Yards  Wins
0  1970  Arrington, Rick  Regular Season          1            328     3
1  1970   Beathard, Pete  Regular Season          2            114     8
2  1970      Belden, Bob  Regular Season          0              0     2
3  1970  Cappleman, Bill  Regular Season          0             49     2
4  1970   Carter, Virgil      Postseason          0             64     0

In [125]:
QB_data_groups.to_sql(name='qb_data4', con=engine, if_exists='replace', index=False)

In [127]:
QBSQL = engine.execute("SELECT * FROM QB_data4").fetchall()
QBSQL = pd.DataFrame(QBSQL)
QBSQL.head()

      0                1               2  3    4  5
0  1970  Arrington, Rick  Regular Season  1  328  3
1  1970   Beathard, Pete  Regular Season  2  114  8
2  1970      Belden, Bob  Regular Season  0    0  2
3  1970  Cappleman, Bill  Regular Season  0   49  2
4  1970   Carter, Virgil      Postseason  0   64  0