In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import os
from os.path import dirname

In [2]:
# Read into file
cwd = os.getcwd()
d = dirname(cwd)
f = "Data_files"
file = "Game_Logs_Quarterback.csv"
path = os.path.join(d, f, file)
path
df = pd.read_csv(path)
# View all columns
df.columns.tolist()

['Player Id',
 'Name',
 'Position',
 'Year',
 'Season',
 'Week',
 'Game Date',
 'Home or Away',
 'Opponent',
 'Outcome',
 'Score',
 'Games Played',
 'Games Started',
 'Passes Completed',
 'Passes Attempted',
 'Completion Percentage',
 'Passing Yards',
 'Passing Yards Per Attempt',
 'TD Passes',
 'Ints',
 'Sacks',
 'Sacked Yards Lost',
 'Passer Rating',
 'Rushing Attempts',
 'Rushing Yards',
 'Yards Per Carry',
 'Rushing TDs',
 'Fumbles',
 'Fumbles Lost']

In [3]:
# Put relevant data into a dataframe
QB_data = pd.DataFrame(df[['Name','Year','Season','Week','Outcome','Completion Percentage','Passing Yards','TD Passes']])
# Print to check types
QB_data.dtypes

Name                     object
Year                      int64
Season                   object
Week                      int64
Outcome                  object
Completion Percentage    object
Passing Yards            object
TD Passes                object
dtype: object

In [4]:
# Replace "--" strings to 0 
QB_data.replace("--",0, inplace=True)
# Convert 'Passing Yards','TD Passes' to interger
QB_data['Passing Yards']= QB_data['Passing Yards'].astype('int')
QB_data['TD Passes']= QB_data['TD Passes'].astype('int')
QB_data['Completion Percentage']= QB_data['Completion Percentage'].astype('float')
# Print to check types
QB_data.dtypes

Name                      object
Year                       int64
Season                    object
Week                       int64
Outcome                   object
Completion Percentage    float64
Passing Yards              int32
TD Passes                  int32
dtype: object

In [5]:
# Set index to name column
QB_data.set_index('Name',inplace=True, drop=True)
# View new dataframe
QB_data.head()

,Year,Season,Week,Outcome,Completion Percentage,Passing Yards,TD Passes
Name,,,,,,,
"Zabransky, Jared",2007,Preseason,1,L,0.0,0,0
"Zabransky, Jared",2007,Preseason,2,W,25.0,19,0
"Zabransky, Jared",2007,Preseason,3,W,0.0,0,0
"Zabransky, Jared",2007,Preseason,4,L,54.5,117,0
"Demory, Bill",1974,Regular Season,1,L,0.0,0,0

In [6]:
def wins(row):
    if row['Outcome'] == 'W':
        val = 1
    else:
        val = 0
    return val

In [7]:
QB_data['Wins'] = QB_data.apply(wins, axis=1)
QB_data.head()

,Year,Season,Week,Outcome,Completion Percentage,Passing Yards,TD Passes,Wins
Name,,,,,,,,
"Zabransky, Jared",2007,Preseason,1,L,0.0,0,0,0
"Zabransky, Jared",2007,Preseason,2,W,25.0,19,0,1
"Zabransky, Jared",2007,Preseason,3,W,0.0,0,0,1
"Zabransky, Jared",2007,Preseason,4,L,54.5,117,0,0
"Demory, Bill",1974,Regular Season,1,L,0.0,0,0,0

In [8]:
QB_data_groups = QB_data.groupby(['Year','Name','Season'])['TD Passes','Passing Yards','Wins'].sum()
QB_data_groups.tail()

                                     TD Passes  Passing Yards  Wins
Year Name            Season
2016 Wilson, Russell Regular Season         21           4219    10
     Winston, Jameis Preseason               4            384     2
                     Regular Season         28           4090     9
     Yates, T.J.     Postseason              0              0     0
                     Regular Season          0              0     2

In [9]:
# Save cleaned data to csv new file
QB_data_groups.to_csv("C:/Users/May 2018/Desktop/SMU Bootcamp Doc/01-Homework_Files/NFL-QB-Analytics/Assets/Data_Files/Cleaned_QB_data_groups.csv")

In [10]:
# Save cleaned data to csv new file
QB_data.to_csv("C:/Users/May 2018/Desktop/SMU Bootcamp Doc/01-Homework_Files/NFL-QB-Analytics/Assets/Data_Files/Cleaned_QB_data.csv")

In [13]:
test = QB_data_groups.to_json
test

<bound method NDFrame.to_json of                                       TD Passes  Passing Yards  Wins
Year Name             Season
1970 Arrington, Rick  Regular Season          1            328     3
     Beathard, Pete   Regular Season          2            114     8
     Belden, Bob      Regular Season          0              0     2
     Cappleman, Bill  Regular Season          0             49     2
     Carter, Virgil   Postseason              0             64     0
                      Regular Season          9           1647     8
     Darragh, Dan     Regular Season          0             71     2
     Davis, Bob       Regular Season          0             66     3
     Dawson, Len      Regular Season         12           1664     7
     Gabriel, Roman   Regular Season         15           2306     9
     Gault, Don       Regular Season          0             67     7
     Hadl, John       Regular Season         17           1947     5
     Hammond, Kim     Regular Season          0              0     1
     Hanratty, Terry  Regular Season          5            842     5
     Hargett, Edd     Regular Season          5           1032     2
     Harris, James    Regular Season          3            338     3
     Hart, Jim        Regular Season         14           2456     8
     Johnson, Charley Regular Season          7           1652     3
     Johnson, Randy   Regular Season          2            443     4
     Kapp, Joe        Regular Season          3           1104     1
     Kilmer, Billy    Regular Season          4           1447     2
     Lamonica, Daryle Postseason              2            193     1
                      Pro Bowl                0             50     0
                      Regular Season         19           2124     8
     Landry, Greg     Postseason              0             48     0
                      Regular Season          9           1072    10
     Lee, Bob         Postseason              0              0     0
                      Regular Season          5            610    12
     Lewis, Dave      Postseason              0              0     0
                      Regular Season          0             39     8
...                                         ...            ...   ...
2016 Stanton, Drew    Preseason               0            144     1
                      Regular Season          2            192     7
     Stave, Joel      Preseason               0            285     4
     Sudfeld, Nate    Preseason               3            238     3
                      Regular Season          0              0     8
     Tannehill, Ryan  Postseason              0              0     0
                      Preseason               2            325     2
                      Regular Season         19           2995    10
     Tanney, Alex     Preseason               1            357     3
                      Regular Season          0              0     1
     Taylor, Tyrod    Preseason               1            150     1
                      Regular Season         17           3023     7
     Thomas, Logan    Preseason               1             68     2
                      Regular Season          0              0     1
     Tolzien, Scott   Preseason               2            390     2
                      Regular Season          1            216     8
     Webb, Joe        Preseason               3            472     2
                      Regular Season          0              0     6
     Weeden, Brandon  Postseason              0              0     1
                      Preseason               1            170     4
                      Regular Season          0              0     9
     Wentz, Carson    Preseason               0             89     4
                      Regular Season         16           3782     7
     Wilson, Russell  Postseason              4            449     1
                      Preseason               2            326     3
                      Regular Season         21           4219    10
     Winston, Jameis  Preseason               4            384     2
                      Regular Season         28           4090     9
     Yates, T.J.      Postseason              0              0     0
                      Regular Season          0              0     2

[4617 rows x 3 columns]>