In [7]:
# Import dependencies
import pandas as pd
import numpy as np
import os
from os.path import dirname

In [8]:
# Read into file
cwd = os.getcwd()
d = dirname(cwd)
f = "Data_files"
file = "Game_Logs_Quarterback.csv"
path = os.path.join(d, f, file)
path
df = pd.read_csv(path)
# View all columns
df.columns.tolist()

['Player Id',
 'Name',
 'Position',
 'Year',
 'Season',
 'Week',
 'Game Date',
 'Home or Away',
 'Opponent',
 'Outcome',
 'Score',
 'Games Played',
 'Games Started',
 'Passes Completed',
 'Passes Attempted',
 'Completion Percentage',
 'Passing Yards',
 'Passing Yards Per Attempt',
 'TD Passes',
 'Ints',
 'Sacks',
 'Sacked Yards Lost',
 'Passer Rating',
 'Rushing Attempts',
 'Rushing Yards',
 'Yards Per Carry',
 'Rushing TDs',
 'Fumbles',
 'Fumbles Lost']

In [9]:
# Put relevant data into a dataframe
QB_data = pd.DataFrame(df[['Name','Year','Season','Week','Outcome','Completion Percentage','Passing Yards','TD Passes']])
# Print to check types
QB_data.dtypes

Name                     object
Year                      int64
Season                   object
Week                      int64
Outcome                  object
Completion Percentage    object
Passing Yards            object
TD Passes                object
dtype: object

In [10]:
# Replace "--" strings to 0 
QB_data.replace("--",0, inplace=True)
# Convert 'Passing Yards','TD Passes' to interger
QB_data['Passing Yards']= QB_data['Passing Yards'].astype('int')
QB_data['TD Passes']= QB_data['TD Passes'].astype('int')
QB_data['Completion Percentage']= QB_data['Completion Percentage'].astype('float')
# Print to check types
QB_data.dtypes

Name                      object
Year                       int64
Season                    object
Week                       int64
Outcome                   object
Completion Percentage    float64
Passing Yards              int32
TD Passes                  int32
dtype: object

In [11]:
# Set index to name column
QB_data.set_index('Name',inplace=True, drop=True)
# View new dataframe
QB_data.head()

,Year,Season,Week,Outcome,Completion Percentage,Passing Yards,TD Passes
Name,,,,,,,
"Zabransky, Jared",2007,Preseason,1,L,0.0,0,0
"Zabransky, Jared",2007,Preseason,2,W,25.0,19,0
"Zabransky, Jared",2007,Preseason,3,W,0.0,0,0
"Zabransky, Jared",2007,Preseason,4,L,54.5,117,0
"Demory, Bill",1974,Regular Season,1,L,0.0,0,0

In [28]:
QB_data_groups = QB_data.groupby(['Year','Name'])['Passing Yards']['TD Passes'].sum()
QB_data_groups.tail()

Year  Name
2016  Weeden, Brandon     1
      Wentz, Carson      16
      Wilson, Russell    27
      Winston, Jameis    32
      Yates, T.J.         0
Name: TD Passes, dtype: int32

In [13]:
# Save cleaned data to csv new file
QB_data.to_csv("C:/Users/May 2018/Desktop/SMU Bootcamp Doc/01-Homework_Files/NFL-QB-Analytics/Cleaned_QB_data.csv")